################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PaymentApp.Android/bin/Debug
/.vs/PaymentApp/DesignTimeBuild/.dtbcache.v2
/PaymentApp.iOS/bin/iPhoneSimulator/Debug
/PaymentApp.iOS/obj/iPhoneSimulator/Debug/actool
/PaymentApp.iOS/obj/iPhoneSimulator/Debug/ibtool
/PaymentApp.iOS/obj/iPhoneSimulator/Debug/coremlc
/PaymentApp.iOS/obj/iPhoneSimulator/Debug/PaymentApp.iOS.csproj.CopyComplete
/PaymentApp.UWP/bin/x86/Debug
/PaymentApp.UWP/obj/x86/Debug/.winmd_cache
/PaymentApp.UWP/obj/x86/Debug/embed
/PaymentApp.UWP/obj/x86/Debug/intermediatexaml
*.intermediate
*.resfiles
*.CopyComplete
/PaymentApp/bin/Debug/netstandard2.0
*.cache
/PaymentApp/obj/Debug/netstandard2.0
/PaymentApp.Android/obj/Debug/100/android
/PaymentApp.Android/obj/Debug/100/androidx
/PaymentApp.Android/obj/Debug/100/app_shared_libraries
/PaymentApp.Android/obj/Debug/100/flat
/PaymentApp.Android/obj/Debug/100/stamp
/PaymentApp.Android/obj/Debug/100/res
/PaymentApp.Android/obj/Debug/100/acw-map.txt
/PaymentApp.Android/obj/Debug/100/lp/100/jl/flat
/PaymentApp.Android/obj/Debug/100
/PaymentApp.Android/obj/Debug/110
/PaymentApp.UWP/obj/x86/Debug
/PaymentApp.iOS/obj/iPhoneSimulator/Debug
